
     @media only screen and (max-width: 1199px) { 
  #legend { 
    display: none; 
  } 
}

* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    
}

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 25%;
    height: 100%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 15px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;

}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #6B8BC6;
      color:white;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 0px solid #fff;
    width: 75%;
    border-left: none;
    height: 100%;
}

/*Fonts: 
Freight Bold and Book. 
Averta regular and bold.

Colors:
Blue #6B8BC6
Dark Blue #32415C
Slate blue #607481
Medium Grey #666B73
Dark Grey #222222
Light Grey #F6F6F6 */



.top-buffer { margin-top:10px; }

.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.navbar-default, .navbar,.navbar-brand, .nav, #aboutlink, #print-link {
  background: #32415C;
  color: white;
  height: 70px;
  text-align: right;
  border-color: #32415C; }


  .icon {
    padding:5px;
  }

   .axislabel {
      fill: #425661;
      color: #425661;
      font-family: 'AvertaStd-Regular', sans-serif;;
      font-size: 13px;
      }
    
    .section {
        padding: 2px 16px;
    }
   
    .axis path, .axis line {
      fill: none;
      stroke: #CECECE;
      shape-rendering: crispEdges;
    }

  .line {
    stroke: blue;
    fill:none;
    stroke-width: 1;
  }
    
    .label {
      font-weight: 700;
    }

    .point {
      
      fill: #5e4fa2;
      opacity: .8;
    }

      .point.filtered {
      opacity: .07;
    }
  
    .point2 {
      
      fill: #3288bd;
      opacity: .7;
    }
   
    .point3 {
     
      fill:#66c2a5 ;
      opacity: .7;
    }
   
      .point4 {
        fill:#abdda4;
      
      opacity: .7;
    }
       .point5 {
      
      fill: #e6f598;
      opacity: .7;
    }
       .point6 {
      
      fill: #fee08b;
      opacity: .7;
    }
       .point7 {
      
      fill: #fdae61;
      opacity: .7;
    }
       .point8 {
      
      fill:#f46d43 ;
      opacity: .7;
    }
       .point9 {
      
      fill: #d53e4f;
      opacity: .7;
    }
       .point10 {
      
      fill: #9e0142;
      opacity: .7;
    }
    .point4.filtered {
      opacity: .07;
    }

    .bar {
      stroke: rgb(240, 59, 32);
      stroke-width: 1;
      fill: rgb(240, 59, 32);
      opacity: 1;
    }

    .bar text {
      fill: #fff;
      font: 10px sans-serif;
    }

    .ybar {
      stroke: rgb(240, 59, 32);
      stroke-width: 1;
      fill: rgb(240, 59, 32);
      opacity: 1;    }

    .ybar text {
      fill: #fff;
      font: 10px sans-serif;
    }

   
    .axis text {
        font-family: 'AvertaStd-Regular', sans-serif;;
        font-size: 10px;
        fill: #425661;
      }
     .tooltip {
       padding: .5em 1em;
       background: rgba(0,0,0,.75);
       color: white;
       font-size: 13px;
       font-family: 'AvertaStd-Regular', sans-serif;;
       font-weight: 500;
       line-height: 1;
       border-radius: 8px;
     }

      .legendtext,#legend {
      font-family: 'AvertaStd-Regular', sans-serif;
      font-size: 11px;
      color: #425661;
          }

    label {
      font-weight: 2px;
      color: #425661;
    }

    body {
      background-color: #ffffff;
      font-family: 'AvertaStd-Regular', sans-serif;;
      color: #425661;
          }

    th {
       font-family: 'AvertaStd-Regular', sans-serif;;
        color: #425661;
        width: 400px;
                } 
    h1,h3,h4,h2{
        font-family: 'AvertaStd-Bold', sans-serif;;
        color: #6B8BC6;
        letter-spacing: 1px;
                }  

h5,h6{
        font-family: 'AvertaStd-Bold', sans-serif;;
        color: #000000;
        letter-spacing: 1px;
                }  


    #Jenks,#team {
      background-color: #425661;
      color: #425661;
      border: none;
      border-radius: 24px;

    .axis path,
    .axis line {
      fill: none;
      stroke: #425661;
      shape-rendering: crispEdges;
                }

    .btn-toolbar {
        font-weight: 2px;
      color: #FFFFFF;
    }

    
