/*
  STYLES.CSS

  */

* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    
}
html {
  font-size: 10px;
  line-height: 20px;
}
body {
 
  background-color: #ffffff;
  font-family: 'AvertaStd', sans-serif;
  font-size: 16px;
  color: #425661;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'AvertaStd', sans-serif;;
    font-weight: bold;  
    color: #6B8BC6;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 20px 0 10px 0;
}  

h4,h5,h6 {
    color: #000000;
}

h1 {
  font-size: 24px;
  line-height: 26.4px;
}  
h2 {
  font-size: 18px;
}
h3 {
  font-size:14px;
}
p {
  margin: 0 0 20px;
  line-height: 20px;
}

img {
  vertical-align: middle;
}

a {
    color: #337ab7;
    text-decoration: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  font-family: 'AvertaStd', sans-serif;;
  color: #425661;
  width: 400px;
  text-align: left;
} 
.table {
      width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}


.main-content {
  max-width: calc(100% - 320px);
}

.header-hero {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #32415C;
  display: block;
  /*padding: 30vh 40px 100px;*/
  /*margin-bottom: 30vh;*/
  /*background: #32415C url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 30 17.9' style='enable-background:new 0 0 30 17.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E%3C/style%3E%3Ctitle%3EShape%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Original-Card-Dark'%3E%3Cg id='_x39_-Approach' transform='translate(-1303.000000, -1066.000000)'%3E%3Cpolygon id='Shape' class='st0' style='fill: %23FFFFFF' points='1329.5,1066 1333,1069.4 1318,1084 1303,1069.4 1306.5,1066 1318,1077.2 ' fill='%23FFFFFF'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-position: center calc(100vh - 130px);

  background-size: 20px;*/


}
.header-hero--inner {
  color: #fff;
  font-size: 24px;
  padding: 22px;
  max-width: 850px !important;
}
.header-hero--inner p {
  line-height: 160%;

}
.section {
  width: 100%;

  padding-bottom: 75px;
  
  min-height: 100vh;
}
.main-content .section {
}
.main-content .container-inner {
    width: 100%;
   max-width: 650px;
   margin: 0 auto;
   padding: 100px 10px 0;
  }
.anchor {
  padding-bottom: 90px;
  display: block;
}
.content-wrapper {
  display: flex;
}
.primary-navigation {
    
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-top-width: 0;
    height: 100%;
    overflow-y: auto;
    
    width: 320px;
    z-index: 2;
    will-change:scroll-position;
    transition: transform 0.2s ease-in-out;
    transform: translateX(100%);
    position: fixed;
    top: 60px;
    right: 0;
}
.primary-navigation.visible {
    transform: translateX(0);

}

/* Style the buttons that are used to open the tab content */
.tab .tablink {
    display: block;
    background-color: inherit;
    color: black;
    padding: 15px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of .tablinks on hover */
.tab .tablink:hover {
    background-color: #ddd;

}

/* Create an active/current "tab .tablink" class */
.tab .tablink.active {
    background-color: #6B8BC6;
      color:white;
}

.inline-nav-list {
  font-family: AvertaStd;
  font-weight: bold;
}
.table th.fit {
    white-space: nowrap;
    width: 1%;
}
.header {
  position: fixed;
  transform: translateY(-100%);
  background: #fff;
  height: 60px;
  left: 0;
  /*position: sticky;*/
  right:0;
  top:0;
  z-index: 2;
  transform-origin: top;
  transition: transform 0.2s ease-in-out;
  border-bottom: 1px solid #32415C;
}
.header.visible {
  transform: translateY(0);
}
.container-inner {
  width: 100%;
  margin: 0 auto;
  max-width: 850px;
}
main .container-inner {
  
  
}
.header--inner {
  margin: 0;
  
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 320px);
}
.header--inner-inner {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}
.icon {
  padding:5px;
}
.logo {
  margin: 10px 0 30px -21px;
  
}
.logo-smaller {
  width: 132px;
  margin: 4px 0 0 0;
  padding: 0;
}
.btn--toggle {
    position: relative;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 0;
    padding: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent !important;
    margin: 22px 30px 0 0;
    
}
.btn, .comment-form input[type="submit"], .search-form .search-submit {
    font-family: "Averta", sans-serif;
    font-weight: 600;
    background-color: #6b8bc6;
    color: #fff;
    display: inline-block;
    padding: 7.5px 15px;
    text-align: center;
    border-radius: 0;
    border: none;
    font-size: 18px;
}
.btn, .comment-form input[type="submit"], .search-form .search-submit {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.btn--toggle {
  display: none;
  cursor: pointer;
  width: 30px;
  padding: 0 3px;
}
.btn--toggle .btn__line:nth-of-type(1) {
    -webkit-transform: translateY(-7px);
    -o-transform: translateY(-7px);
    transform: translateY(-7px);
}
.btn--toggle .btn__line:nth-of-type(3) {
    -webkit-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
}
.btn--toggle .btn__line {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: block;
    height: 2px;
    width: 24px;
    background: #fff;
    -webkit-transition: background 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: background 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: background 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), -o-transform 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: background 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: background 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.45s cubic-bezier(0.165, 0.84, 0.44, 1), -o-transform 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 1;
}
@media screen and ( max-width: 911px ){


  .primary-navigation {
    width: 228px;
    transition: transform 0.4s ease-in-out;
    transform: translate(228px,0);
    position: fixed;
    right: 0;
    left: auto;

  }
  .primary-navigation.is-open {
    transform: translate(0,0);;
  }
  .main-content {
    width: 100%;
    margin: 0 auto;
  }
  .btn--toggle {
    display: block;
  }
}